@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-12">
        <p><b>• Controller</b></p>
        <div class="container">
            <dl class="row">
                <dt class="col-sm-2">Singleton</dt>
                <dd class="col-sm-10">@ViewBag.Singleton</dd>
                <dt class="col-sm-2">Singleton Instance</dt>
                <dd class="col-sm-10">@ViewBag.SingletonInstance</dd>
                <dt class="col-sm-2">Scoped</dt>
                <dd class="col-sm-10">@ViewBag.Scoped</dd>
                <dt class="col-sm-2">Transient</dt>
                <dd class="col-sm-10">@ViewBag.Transient</dd>
            </dl>
        </div>
        <p><b>• OpeationService</b></p>
        <div class="container">
            <dl class="row">
                <dt class="col-sm-2">Singleton</dt>
                <dd class="col-sm-10">@ViewBag.Service.SingletonOperation.OperationId</dd>
                <dt class="col-sm-2">Singleton Instance</dt>
                <dd class="col-sm-10">@ViewBag.Service.SingletonInstanceOperation.OperationId</dd>
                <dt class="col-sm-2">Scoped</dt>
                <dd class="col-sm-10">@ViewBag.Service.ScopedOperation.OperationId</dd>
                <dt class="col-sm-2">Transient</dt>
                <dd class="col-sm-10">@ViewBag.Service.TransientOperation.OperationId</dd>
            </dl>
        </div>
    </div>
</div>